@page
@model FitnessClubAutomation.Pages.TrainingSessions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TrainingSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainingSession.ServiceId" class="control-label"></label>
                <select asp-for="TrainingSession.ServiceId" class ="form-control" asp-items="ViewBag.ServiceId"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="TrainingSession.DateTime" class="control-label"></label>
                <input asp-for="TrainingSession.DateTime" class="form-control" />
                <span asp-validation-for="TrainingSession.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingSession.MaxParticipants" class="control-label"></label>
                <input asp-for="TrainingSession.MaxParticipants" class="form-control" />
                <span asp-validation-for="TrainingSession.MaxParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingSession.CurrentParticipants" class="control-label"></label>
                <input asp-for="TrainingSession.CurrentParticipants" class="form-control" readonly />
                <span asp-validation-for="TrainingSession.CurrentParticipants" class="text-danger"></span>
                <small class="form-text text-muted">This will be updated automatically as clients register</small>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
